
/* Media query desktops */
@media (min-width: 1201px) {
    /* Estilos para telas maiores que 1200px */
    
    section {
        display: flex;
    }

    div#campo {
        width: 70%;
    }

    div#campo img {
        width: 100%;
    }

    div#infos {
        width: 30%;
        font-size: 1.25rem;
    }

    div#infos ul {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }
}