
@media (min-width: 1201px) {
    section {
        background-color: #FFFFCC;
    }

    section div {
        width: 60%;
        height: 60%;
        padding: 1rem;
        background-color: #FFFF00;
        color: #000000;
        gap: 1.5rem;
        font-size: 1.5rem;
    }
}
