
@media (min-width: 901px) and (max-width: 1200px) {
    section {
        background-color: #CCCCFF;
    }

    section div {
        width: 65%;
        height: 75%;
        padding: 1rem;
        background-color: blue;
        gap: 1.5rem;
        font-size: 1.4rem;
    }
}
