
@media (max-width: 600px) {
    section {
        background-color: #FFCCCC;
    }

    section div {
        width: 90%;
        padding: 1rem;
        background-color: #FF0000;
        gap: 1.5rem;
        font-size: 1.25rem;
    }
}
